arrow
alembic==1.0.11
Click==7.0
Flask==1.1.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.0.14
MarkupSafe==1.1.1
matplotlib==3.5.1
ngrok==0.0.1
pandas==1.3.5
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
six==1.12.0
SQLAlchemy==1.3.23
Werkzeug==0.15.5
